label {
    display: block;
    font: Helvetica, sans-serif;
    font-size: 16pt;
    border-bottom: 1px solid gray;
    max-width: 200px;
}

textarea {
    margin-top: 30px;
    resize: none;
}

form {
    overflow: hidden;
    height: auto;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 50px 50px 50px 50px;
}

button {
    float: right;
    margin-right: 100px;
    height: 60px;
    width: 200px;
    color: rgb(250, 250, 250);
    border: 5px solid rgb(80, 80, 80);
    border-radius: 10px;
    background-image: linear-gradient(to top, #ffbf00, #ffb300);
    font: Helvetica, sans-serif;
    font-size: 16pt;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}